[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	push = group Device Maintainers - Xiaomi
	pushMerge = group Device Maintainers - Xiaomi
	label-Code-Review = -2..+2 group Device Maintainers - Xiaomi
	label-Verified = -1..+1 group Device Maintainers - Xiaomi
	rebase = group Device Maintainers - Xiaomi
	submit = group Device Maintainers - Xiaomi
[submit]
	action = rebase if necessary
